.container {
    padding: 5%;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    gap: 30px;
}

.container .heading {
    color:#05060f;
    line-height: 4.1rem;
    font-size: 3.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    
}

.heading span {
    color: #f8db46;
}

.right img{
    width: 100%;
}